@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1 {
color : whitesmoke ;
font-family : 'Krona One', sans-serif ;
text-align: center ;   
}

.sous-titre {
    text-align: center ;
    color:  whitesmoke ;
    font-family: 'Bebas Neue', cursive ;
    font-size: 30px
}

body {
 background-image:url(../images/page_daccueil/testfond.png) ;
background-attachment: fixed ;
background-repeat:no-repeat;
background-position:center ; 
}
article{ 
  width: 450px;
  height:700px;
}
section{
  display: flex;
  flex-wrap: nowrap ; 
  justify-content : space-around ;
  align-items: center;
}
.orange{
  background-color: orange ;
 opacity: 0.50 ; 
  border: 3px solid black; 
}
.bleu{
  background-color:blue;
  border: 3px solid black; 
  opacity: 0.50 ;    
 } 
.vert {
  background-color:green;
  border: 3px solid black;
  opacity: 0.50 ;     
}
